<div class="element-button-display"
     [style.height]="element.button.height  + 'px'"
     [style.backgroundColor]="element.button.backgroundColor"
     [style.color]="element.button.textColor"
     [style.borderRadius]="element.button.borderRadius + 'px'"
     [appPixelTracker]="element"
     [appPixelTrackerPercentageValue]="element.widthInPercentage">

  <p class="button">
    <editor [init]="{
                base_url: '/tinymce',
                suffix: '.min',
                plugins: 'lists advlist',
                toolbar: 'undo redo | bold italic | bullist numlist outdent indent | alignleft aligncenter alignright alignjustify | fontsizeselect',
                menubar:false,
                statusbar:false,
                inline: true
              }"
            [(ngModel)]="element.button.text"
            [style.color]="element.button.textColor"></editor>

  </p>

</div>