<!DOCTYPE html>
<html>
    <title></title>

    <head></head>

    <body style="bacground-color:{{#design.backgroundColor}}{{renderCondition}}{{/design.backgroundColor}};">
        {{#design.contentBackgroundColor}}{{renderCondition}}{{/design.contentBackgroundColor}}
    </body>

</html>