.row-layout {
  display:table-row;
  background-color: #ffffff;
  margin: 0;
  border-collapse:collapse;
}


[app-layout-column]{
  display: table-cell;
  vertical-align: top;
}

.column-150 {
  width: 150px !important;
}
.column-200 {
  width: 200px !important;
}
.column-300 {
  width: 300px !important;
}
.column-400 {
  width: 400px !important;
}
.column-600 {
  width: 600px !important;
}