<div class="row-layout"
     style="background-size: cover; background-repeat: no-repeat;"
     [style.backgroundColor]="row.contentBackgroundColor"
     [style.backgroundImage]="backgroundImageUrl">
    <div app-layout-column
         class="column column-{{column.widthInPixels}}"
         [ngClass]="{'empty-elements': column.elements.length == 0}"
         *ngFor="let column of row.columns"
         [column]=column
         dragula="elements"
         [(dragulaModel)]="column.elements"
         [style.paddingTop]="column.padding.top + 'px'"
         [style.paddingBottom]="column.padding.bottom + 'px'"
         [style.paddingRight]="column.padding.right + 'px'"
         [style.paddingLeft]="column.padding.left + 'px'"
         [style.backgroundColor]="column.backgroundColor">
    </div>
</div>