<ng-template #mergeFieldManagerModal let-modal>
    <app-merge-field-manager [modal]="modal" ></app-merge-field-manager>
</ng-template>

<div class="condition-builder-wrapper container-fluid">
  <div class="row">
    <div class="col-12">
        <h2>Conditionally set this property. By default this property value will be <b>TODO Put default value here.</b></h2>
        <button 
        class="btn btn-primary"
        (click)="addSimple()">Create New Condition</button>
        <button 
        class="btn btn-primary"
        (click)="editMergeField(mergeFieldManagerModal)">Add or Edit Merge Fields</button>
    </div>
  </div>
  <div class="row"
  *ngIf="propertyManger.conditions.length == 0">
    <div class="col-12 text-center">
      <h3>Currently there are no conditions for this property</h3>
      <button 
      class="btn btn-primary"
      (click)="addSimple()">Create New Condition</button>
    </div>
  </div>
  <div class="row"
  *ngIf="propertyManger.conditions.length > 0">
    <div class="col-12">
        <app-condition-handler 
        *ngFor="let condition of propertyManger.conditions" 
        [condition]="condition"></app-condition-handler>
    </div>
  </div>
</div>
