<div class="element-property-manager" *ngIf="!selectedElement">
        <div>
                <p>Click on element in the display to see edit options</p>
        </div>
</div>
<ul class="list-group element-property-manager " *ngIf="selectedElement">
        <!-- <li class="list-group-item">
                <div class="container">
                        <div class="manager-row row">
                                <div class="manager-label col-6">
                                        <p>Background Color</p>
                                </div>
                                <div class="manager-input col-6">
                                        <app-color-picker [(color)]="backgroundColor"></app-color-picker>
                                </div>
                        </div>
                </div>
        </li> -->
        <li class="list-group-item">
                <div class="container">
                        <div class="manager-row row">
                                <div class="manager-label col-6">
                                        <p>Color</p>
                                </div>
                                <div class="manager-input col-6">
                                        <app-color-picker [(color)]="color"></app-color-picker>
                                </div>
                        </div>
                </div>
        </li>
        <li class="list-group-item">
                <div class="container">
                        <div class="manager-row row">
                                <div class="manager-label col-6">
                                        <p>Padding</p>
                                </div>
                                <div>
                                        <app-common-number-selector [padding]="selectedElement.padding">
                                        </app-common-number-selector>
                                </div>
                        </div>
                </div>

        </li>
        <li class="list-group-item">
                <div class="container">
                        <div class="manager-row row">
                                <div class="manager-label col-6">
                                        <p>Align</p>
                                </div>
                                <div class="col-6">
                                        <app-align-control [selectedElement]="selectedElement"></app-align-control>
                                </div>

                        </div>
                </div>
        </li>
        <li class="list-group-item">
                <div class="container">
                        <div class="manager-row row">
                                <div class="manager-label col-6">
                                        <p>Dimensions</p>
                                </div>
                                <div class="col-12">
                                        <app-dimensions-setter-widget [dimensions]="selectedElement.dimensions">
                                        </app-dimensions-setter-widget>
                                </div>
                        </div>
                </div>

        </li>
        <li class="list-group-item">
                        <p class="element-settings-header">Element Settings</p>
                <div [ngSwitch]="elementType">
                        <div *ngSwitchCase="'ButtonElement'">
                                <app-element-button-manager></app-element-button-manager>
                        </div>
                        <div *ngSwitchCase="'DividerElement'">
                                <app-element-divider-manager></app-element-divider-manager>
                        </div>
                        <div *ngSwitchCase="'ImageElement'">
                                <app-element-image-manager></app-element-image-manager>
                        </div>
                        <div *ngSwitchCase="'TextElement'">
                                <app-element-text-manager></app-element-text-manager>
                        </div>
                        <div *ngSwitchDefault>output2</div>
                </div>
        </li>




</ul>