<div class="element-property-manager"
     *ngIf="!selectedElement">
    <div class="row">
        <div class="col-12t">
            <p>Click on element in the display to see edit options</p>
        </div>
    </div>
</div>
<ul class="list-group element-property-manager "
    *ngIf="selectedElement">
    <li class="list-group-item">
        <div class="row">
            <div class="manager-label col-12">
                <p>Margin</p>
                <div app-common-number-selector
                     [padding]="selectedElement.padding"
                     class="col-12">
                </div>

            </div>
        </div>

    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="manager-label col-12">
                <p>Width {{selectedElement.widthInPercentage}}%</p>
                <input class="form-control"
                       type="range"
                       min="0"
                       max="100"
                       [(ngModel)]="selectedElement.widthInPercentage" />
            </div>
        </div>

    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="manager-label col-3">
                <p>Alignment</p>

            </div>
            <div class="col-9">
                <app-align-control [(alignment)]="alignment">
                </app-align-control>
            </div>
        </div>
    </li>


    <ng-container [ngSwitch]="selectedElement.elementType">
        <ng-container *ngSwitchCase="'button'">
            <app-element-button-manager [element]="selectedElement"></app-element-button-manager>
        </ng-container>
        <ng-container *ngSwitchCase="'divider'">
            <app-element-divider-manager [element]="selectedElement"></app-element-divider-manager>
        </ng-container>
        <ng-container *ngSwitchCase="'image'">
            <app-element-image-manager [element]="selectedElement"></app-element-image-manager>
        </ng-container>
        <ng-container *ngSwitchCase="'text'">
            <app-element-text-manager [element]="selectedElement"></app-element-text-manager>
        </ng-container>
        <ng-container *ngSwitchDefault>output2</ng-container>
    </ng-container>
</ul>