<div class="element-property-manager" *ngIf="!selectedElement">
        <div>
                <p>Click on element in the display to see edit options</p>
        </div>
</div>
<ul class="list-group element-property-manager " *ngIf="selectedElement">
        <li class="list-group-item">
                <div class="container">
                        <div class="manager-row row">
                                <div class="manager-label col-6">
                                        <p>Background Color</p>
                                </div>
                                <div class="manager-input col-6">
                                        <app-color-picker [(color)]="backgroundColor"></app-color-picker>
                                </div>
                        </div>
                </div>
        </li>
        <li class="list-group-item">
                <div class="container">
                        <div class="manager-row row">
                                <div class="manager-label col-6">
                                        <p>Padding</p>
                                </div>
                                <div>
                                        <app-padding [padding]="selectedElement.padding"></app-padding>
                                </div>
                        </div>
                </div>

        </li>
        <li class="list-group-item">More Property Mangers Here</li>

</ul>