<div class="dashboard-outer">
        <div class="sidebar">
            <mat-tab-group>
                <mat-tab label="Elements">
                    <div id="layout-element-options" class="element-list" dragula="elements" [(dragulaModel)]="elementOptions" >
                        <div class="element-box" *ngFor="let element of elementOptions">
                            <div class="icon-container-material">
                                <i class="material-icons"> {{element.icon}} </i>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Rows">
                    <div  data-simplebar>
                        <div id="layout-row-options" class="row-list" dragula="rows" [(dragulaModel)]="rowOptions">
                            <div class="row-box" *ngFor="let row of rowOptions" >
                                <img [src]="row.poster" class="row-column-img">
                            </div>
                        </div>
                    </div>
                   
                </mat-tab>
            </mat-tab-group>
        </div>
        <div app-display class="content-display" data-simplebar>
        </div>
    </div>