<div class="container number-widget">
    <div class="row">
        <div app-number-selector-input
             [(value)]="padding.top"
             class="col-12">
        </div>
    </div>
    <div class="row">
        <div app-number-selector-input
             [(value)]="padding.left"
             class="col-6">
        </div>
        <div app-number-selector-input
             [(value)]="padding.right"
             class="col-6">
        </div>
    </div>
    <div class="row">
        <div app-number-selector-input
             [(value)]="padding.bottom"
             class="col-12"></div>
    </div>
</div>