
.image-input-container p{
    margin-bottom: 5px;
}
.image-input-container input{
    display: block;
    width:95%;
    margin-left:auto;
    height: 20px;
}
.image-input-container button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top:5px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 0px;
    width:96%;
    margin-left:auto;
    border-radius: 5px;
    -webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
}
.image-input-container button:hover{
background-color: #59bd5d; 
color: black; 
}
