   <div class="modal-header">
        <h4 class="modal-title">Merge Fields</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form (submit)="submitChanges()">
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label for="mergefield-modal-name">Merge Field Name</label>
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="mergefield-modal-name" 
                                    name="mergefield-modal-name" 
                                    [(ngModel)]="variableNameEditField"
                                    [disabled]="busy"
                                    placeholder="Merge Field Name">
                                </div>
                                <div class="form-group col-4">
                                    <label for="inputState">Data Type</label>
                                    <select 
                                    id="mergefield-modal-type"
                                    name="mergefield-modal-type" 
                                    class="form-control" 
                                    [(ngModel)]="selectedMergeFieldType"
                                    [disabled]="busy || !variableNameEditField"
                                    >
                                    <option selected *ngIf="!variableNameEditField">Enter or select a mergefield</option>
                                    <option *ngFor="let type of variableTypeOptions">{{type}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <label for="inputState">&nbsp;</label>
                                    <button 
                                    type="submit" 
                                    class="btn btn-primary form-control"
                                    [disabled]="busy">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button 
                        [disabled]="busy"
                        type="button" 
                        class="btn btn-secondary merge-field"
                        *ngFor="let mergefield of mergeFields"
                        (click)="selectedMergeField = mergefield">
                            {{mergefield.name}} <span class="badge badge-light">{{mergefield.type}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    </div>

