<li class="list-group-item">
    <div class="row">
        <div class="manager-label col-6">
            <p>Text Color</p>
        </div>
        <div class="manager-input col-6">
            <app-color-picker [(color)]="element.button.textColor"></app-color-picker>
        </div>
    </div>
</li>
<li class="list-group-item">
    <div class="row">
        <div class="manager-label col-6">
            <p>Background Color</p>
        </div>
        <div class="manager-input col-6">
            <app-color-picker [(color)]="element.button.backgroundColor"></app-color-picker>
        </div>
    </div>
</li>
<li class="list-group-item">
    <div class="row">
        <div class="manager-label col-6">
            <p>Height</p>
        </div>
        <div app-number-selector-input
             [(value)]="element.button.height"
             class="col-6">
        </div>
    </div>
</li>
<li class="list-group-item">
    <div class="row">
        <div class="manager-label col-6">
            <p>Border Radius</p>
        </div>
        <div app-number-selector-input
             [(value)]="element.button.borderRadius"
             class="col-6">
        </div>
    </div>

</li>