.edit-condition-action{
    position: absolute;
    right: 0;
    margin-right: -15px;
    bottom: 0;
    margin-bottom: -6px;
    outline: none;
    transform: rotate(90deg);
}
.edit-condition-action:focus{
    box-shadow: none;
}