@import "../../../../../styles.theme.scss";

.color-picker-container{
    display: flex;
}
.open-color-picker{
    border: 1px solid $primary;
    flex: 1;
}
.color-input{
    width:99px;
    flex: 2;
}

 .transparent-background {
background-color: #ffffff;
  background-image: linear-gradient(45deg, #c5c5c5 25%, transparent 25%), linear-gradient(-45deg, #c5c5c5 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #c5c5c5 75%), linear-gradient(-45deg, transparent 75%, #c5c5c5 75%);
  background-size: 10px 10px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.input-group-text.set-transparent{
    padding: .1em;
    border: 1px solid $primary;
}
.fa-ban{
    padding: .2em;
    font-size: .9em;
    font-weight: bold;
}
