
<div class="input-group">
    <div class="input-group-prepend" (click)="toggle=!toggle">
        <span class="input-group-text open-color-picker" [style.background-color]="color"></span>
    </div> 
    <input type="text" 
    class="form-control"
    #ignoredInput
    [value]="color"
    [style.background]="inputBackground"
    [(cpToggle)]="toggle"
    [(colorPicker)]="color"
    [cpIgnoredElements]="[ignoredInput]"
    [cpPosition]="'left'"
    [cpOKButton]="false"
    [cpOutputFormat]="'hex'"
    [cpUseRootViewContainer]="true"
    />
</div>
