@import "../../../../../styles.theme.scss";

.color-picker-container{
    display: flex;
}
.open-color-picker{
    border: 1px solid $primary;
    flex: 1;
}
.color-input{
    width:99px;
    flex: 2;
}
