<div class="dashboard-outer">
    <button type="btn btn-sm btn-secondary"
            (click)="preview()"
            style="position:absolute; right:0; top:0; z-index: 1;">preview</button>
    <div class="sidebar">
        <div class="sidepanel-tabs">
            <input name="sidepanel-tabs"
                   type="radio"
                   id="sidepanel-tabs-rows"
                   [(ngModel)]=selectedManagerPanel
                   value="sidepanel-tabs-rows" />
            <label for="sidepanel-tabs-rows"
                   class="sidepanel-tabs-label">Rows</label>
            <div class="sidepanel-tabs-panel"
                 data-simplebar>
                <div id="layout-row-options"
                     class="row-list"
                     dragula="rows"
                     [(dragulaModel)]="rowOptions">
                    <div class="row-option enable-move"
                         *ngFor="let row of rowOptions">
                        <div class="row-option-column enable-move"
                             *ngFor="let columnWidth of row.columnDefinitions"
                             [style.width]="columnWidth/6 +'%'"></div>
                    </div>
                </div>
            </div>

            <input name="sidepanel-tabs"
                   type="radio"
                   id="sidepanel-tabs-elements"
                   value="sidepanel-tabs-elements"
                   [(ngModel)]=selectedManagerPanel />
            <label for="sidepanel-tabs-elements"
                   class="sidepanel-tabs-label">Elements</label>
            <div class="sidepanel-tabs-panel"
                 data-simplebar>
                <div id="layout-element-options"
                     class="element-list"
                     dragula="elements"
                     [(dragulaModel)]="elementOptions">
                    <div class="element-box"
                         *ngFor="let element of elementOptions">
                        <div class="icon-container-material">
                            <i class="material-icons"> {{element.icon}} </i>
                        </div>
                        <div class="html-container">
                            <p>{{element.text}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <input name="sidepanel-tabs"
                   type="radio"
                   id="sidepanel-tabs-properties"
                   value="sidepanel-tabs-properties"
                   [(ngModel)]=selectedManagerPanel />
            <label for="sidepanel-tabs-properties"
                   class="sidepanel-tabs-label">Properties</label>
            <div class="sidepanel-tabs-panel"
                 data-simplebar>
                <div class="accordion-tabs">
                    <div class="accordion-tab">
                        <input type="checkbox"
                               id="body-properties"
                               name="accordion-tab"
                               [(ngModel)]="bodyPropertiesVisible">
                        <label class="accordion-tab-label"
                               for="body-properties">Email Body Properties</label>
                        <div class="accordion-tab-content">
                            <app-email-body-manager></app-email-body-manager>
                        </div>
                    </div>
                    <div class="accordion-tab">
                        <input type="checkbox"
                               id="row-properties"
                               name="accordion-tab"
                               [(ngModel)]="rowPropertiesSelected">
                        <label class="accordion-tab-label"
                               for="row-properties">Row Properties</label>
                        <div class="accordion-tab-content">
                            <app-row-property-manager></app-row-property-manager>
                        </div>
                    </div>
                    <div class="accordion-tab">
                        <input type="checkbox"
                               id="element-properties"
                               name="accordion-tab"
                               [(ngModel)]="elementPropertiesSelected">
                        <label class="accordion-tab-label"
                               for="element-properties">{{currentElementName}} Properties</label>
                        <div class="accordion-tab-content">
                            <app-element-property-manager></app-element-property-manager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div app-display
         class="content-display"
         data-simplebar>
    </div>
</div>