@import "../../../../styles.theme.scss";

.dashboard-outer{
  position: relative;
}
.sidebar{
position: absolute;
left: 0px;
width:30%;
overflow: hidden;
}
.content-display{
  position: absolute;
  right:0px;
  width:70%;
  min-height: 500px;
  background-color:$primary;
  transition: background-color 2s;
}

.row-list {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}
.row-option{
  display: table;
  width:100%;
  margin-bottom:20px;
}

.row-option-column{
  display: table-cell;
  padding: 30px 0;
  background-color:$primary;
  border: solid;
  border-color: $accent2;
  border-width:12px 6px;
}

.row-option-column:first-child{
  border-left-width: 12px;
}
.row-option-column:last-child{
  border-right-width: 12px;
}

.row-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.row-box:hover{
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.element-list {
  max-width: 100%;
  max-height: 600px;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  flex-flow: row wrap;
  
}
.element-box {
  background-color: $primary;
  color: $text;
  padding: 10px 10px;
  border: $secondary solid 1px;
  margin:10px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  text-align: center;
}
.html-container p{
  margin: 0px;
}
.element-box:hover{
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.element-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/**********************************************
  sidepanel tabs
********************************************/
.sidepanel-tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  background: $primary;
}
input[name="sidepanel-tabs"] {
  position: absolute;
  opacity: 0;
}
.sidepanel-tabs-label {
  width: 100%;
  padding: 20px 30px;
  background: $primary;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: $text;
  transition: background 0.1s, color 0.1s;
}
.sidepanel-tabs-label:hover {
  background: $primary;
}
.sidepanel-tabs-label:active {
  background: $primary;
}
input[name="sidepanel-tabs"]:focus + .sidepanel-tabs-label {
   z-index: 1;
}
input[name="sidepanel-tabs"]:checked + .sidepanel-tabs-label {
  background: $secondary;
  color: $acaent1;
}
@media (min-width: 600px) {
  .sidepanel-tabs-label {
    width: auto;
  }
}
.sidepanel-tabs-panel {
  display: none;
  padding: 20px 30px 30px 20px;
  background: $secondary;
  width:100%;
  height: calc(100vh - 100px);
}
@media (min-width: 600px) {
  .sidepanel-tabs-panel {
    order: 99;
  }
}
input[name="sidepanel-tabs"]:checked + .sidepanel-tabs-label + .sidepanel-tabs-panel {
  display: block;
}

.icon-container-material i{
  font-size: 30px;
  text-align:center;
  margin:auto;
}

/* Accordion styles */
// General

input[name="accordion-tab"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion-tabs {
  border-radius: 8px;
  overflow: hidden;
}
.accordion-tab {
  width: 100%;
  color: $text;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $secondary;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      color: $acaent1;
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $text;
    background: $primary;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $primary;
    cursor: pointer;
    &:hover {
      background: $secondary;
    }
  }
}

// :checked
input[name="accordion-tab"]:checked {
  + .accordion-tab-label {
    background: $secondary;
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .accordion-tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}





