<div class="row">
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">When</label>
            </div>
            <select [(ngModel)]="selectedMergeField" class="form-control">
                <option *ngIf="selectedMergeField === null" selected [ngValue]="null">Select a merge field....</option>
                <option *ngFor="let mergeField of mergeFields" [ngValue]="mergeField">{{mergeField.name}}</option>
            </select>
            <select [(ngModel)]="selectedPredicate" class="form-control">
                <option selected>Choose...</option>
                <option [ngValue]="predicateOption.key" *ngFor="let predicateOption of predicateOptions">{{predicateOption.label}}</option>
            </select>
            <ng-container [ngSwitch]="selectedVariableType">
                <ng-container *ngSwitchCase="'string'">
                    <input class="form-control" type="text" [(ngModel)]="operationModel.valueOperand" placeholder="Enter Value"/>
                </ng-container>
                <ng-container *ngSwitchCase="'number'">
                    <input type="number" [(ngModel)]="operationModel.valueOperand"/>
                </ng-container>
                <ng-container *ngSwitchCase="'boolean'">
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                    <input type="text" [(ngModel)]="operationModel.valueOperand"/>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <input disabled="disabled" type="text" value="No Merge Field Selected!"/>
                </ng-container>
            </ng-container>
            <div class="input-group-append">
                <label class="input-group-text">set property to</label>
                <label class="input-group-text">{{condition.conditionValue}}</label>
            </div>
            <button class="btn btn-outline-secondary">Compound Condition</button>
            <button class="btn btn-outline-danger" (click)="removeSimpleCondition()">X</button>
        </div>
    </div>
</div>

      
