<div class="row">
    <div class="col-10">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">When</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">FirstName</option>
                <option value="2">LastName</option>
                <option value="3">Age</option>
            </select>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">Starts With</option>
                <option value="2">Ends With</option>
                <option value="3">Contains</option>
            </select>
            <input type="text" value="SOME VALUE"/>
            <div class="input-group-append">
                <label class="input-group-text">set property to</label>
                <label class="input-group-text">{{condition.conditionValue}}</label>
            </div>
        </div>
    </div>
    <div class="col-2">
        <button class="btn btn-primary btn-block">Compound Condition</button>
    </div>
</div>

      
