<li class="list-group-item">
    <div class="manager-row row">
        <div class="manager-label col-6">
            <p>Dimensions</p>
        </div>
        <div class="col-12">
            set Dimensions for IMAGES
            <!-- <app-dimensions-setter-widget [dimensions]="selectedElement.dimensions">
                                </app-dimensions-setter-widget> -->
        </div>
    </div>
</li>
<li class="list-group-item">
    <div class="manager-row row">
        <div class="manager-label col-6">
            <p>Align</p>
        </div>
        <div class="col-6">
            set Align for IMAGES
            <!-- <app-align-control [selectedElement]="selectedElement"></app-align-control> -->
        </div>

    </div>
</li>

