.number-selector-container{
    width:145px;
    display: flex;
    border: solid #ccc 1px;
}
.number-selector-container button{
    height: 23px;
    width: 25px;
}
.number-selector-container input{
    flex:2;
    width: 100%;
}

/*Disable arrow on number input boxes*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}