/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "styles.theme.scss";
/* in-flight clone */
html, body{
  font-size: 12px;
}
html, body, app-root, .wrapper, .content, [app-dashboard], .dashboard-outer{
  min-width: 1080px;
}
html, body, app-root, .wrapper, .content, [app-dashboard], .dashboard-outer, .content-display, .sidebar, .row-list  {
   height: 100%;
   padding:0;
   margin:0;
   font-family: Arial, Helvetica, sans-serif
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
 
  .gu-unselectable .row-wrapper:hover .row-controls{
    display: none !important;
  }

  .gu-unselectable .row-wrapper.gu-transit:hover .row-controls{
    display: block !important;
  }
  
.gu-transit.row-box{
  width:100% !important;
}

.gu-transit.row-box img{
  width:auto;
  margin:auto;
}
body{
  background-color: $primary;
}

.column{
  position: relative;
}
.row-wrapper:hover .column{
  outline: dashed .1em black;
  outline-offset: -.2em;
  z-index: 100;
}

#layout-row-list *{
  padding:0;
  margin:0;
}

.list-group-item{
  background-color: $accent2;
}

#layout-row-list .row-controls button{
  padding:.25rem .5rem;;
  margin-bottom: .25rem;
}


#layout-row-list [app-layout-row]{
  margin:auto;
}

.sidepanel-tabs-panel .form-control{
  border-color:$primary;
}

.sidepanel-tabs-panel .btn-secondary{
  background-color: $primary;
}

.accordion-tabs p{
  margin: 0;
}

.layout-element-divider:hover{
  border: 10px dotted transparent;
  cursor: pointer;
}