  @import "../../../../../styles.theme.scss";

  .row-property-tabs {
    display: flex;
    flex-wrap: wrap;
  }
  .row-property-tabs-input {
    position: absolute;
    opacity: 0;
  }
  .row-property-tabs-label {
    padding: .5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: $acaent1;
    margin-bottom: 0;
  }
  
  .row-property-tabs-label:hover {
  }
  
  .row-property-tabs-label:active {
  }
  
  .row-property-tabs-input:focus + .row-property-tabs-label {
    z-index: 1;
  }
  
  .row-property-tabs-input:checked + .row-property-tabs-label {
    background: $secondary;
    color: $text;
  }
  .row-property-tabs-panel{
    background-color: $secondary;
    padding:0 1em 1em 1em;
  }
  
  @media (min-width: 600px) {
    .row-property-tabs-label {
      width: auto;
    }
  }
  .row-property-tabs-panel {
    display: none;
  }
  
  @media (min-width: 600px) {
    .row-property-tabs-panel {
      order: 99;
    }
  }
  
  .row-property-tabs-input:checked + .row-property-tabs-label + .row-property-tabs-panel {
    display: block;
  }