<div class="row-property-manager">
        <div class="manager-row">
                <div class="manager-label">Background Color</div>
                <div class="manager-input">
                        <app-color-picker [(color)]="backgroundColor"></app-color-picker>
                </div>
        </div>
        <div class="manager-row">
                <div class="manager-label">Content Background Color</div>
                <div class="manager-input">
                        <app-color-picker [(color)]="contentBackgroundColor"></app-color-picker>
                </div>
        </div>

      <div class="row-property-tabs" >
                <ng-container *ngFor="let column of columns">
                                <input name="row-property-tabs" type="radio" id="{{column.id}}" checked="checked" class="row-property-tabs-input"/>
                                <label for="{{column.id}}" class="row-property-tabs-label">Column {{columns.indexOf(column) + 1}}</label>
                                <div class="row-property-tabs-panel">
                                  <app-padding [padding]="column.padding"></app-padding>
                                </div>
               </ng-container>                          
       </div>

</div>
