<div class="element-wrapper">
  <editor [init]="{
            base_url: '/tinymce',
            suffix: '.min',
            plugins: 'lists advlist',
            toolbar: 'undo redo | bold italic | bullist numlist outdent indent | alignleft aligncenter alignright alignjustify | fontsizeselect',
            menubar:false,
            statusbar:false,
            inline: true
          }"
          [(ngModel)]="element.text.content"
          [style.textAlign]="element.align"
          [style.color]="element.color"></editor>
</div>