<li class="list-group-item">
    <div class="container">
        <div class="manager-row row">
            <div class="manager-label col-6">
                <p>Border Type</p>
            </div>
            <div class="manager-input col-6">
                <app-border-picker [(borderSelected)]="element.divider.border"></app-border-picker>
            </div>
        </div>
    </div>
</li>
<li class="list-group-item">
    <div class="container">
        <div class="manager-row row">
            <div class="manager-label col-6">
                <p>Background Color</p>
            </div>
            <div class="manager-input col-6">
                <app-color-picker [(color)]="element.divider.color"></app-color-picker>
            </div>
        </div>
    </div>
</li>
<li class="list-group-item">
    <div class="container">
        <div class="manager-row row">
            <div class="manager-label col-6">
                <p>Thickness</p>
            </div>
            <div class="manager-input col-6">
                <app-number-selector-input [(value)]="element.divider.border.thickness"></app-number-selector-input>
            </div>
        </div>
    </div>
</li>