<li class="list-group-item">
    <div class="container">
        <div class="manager-row row">
            <div class="manager-label col-6">
                <p>Background Color</p>
            </div>
            <div class="manager-input col-6">
                <app-color-picker [(color)]="element.color"></app-color-picker>
            </div>
        </div>
    </div>
</li>
<li class="list-group-item">
    <div class="manager-row row">
        <div class="manager-label col-6">
            <p>Dimensions</p>
        </div>
        <div class="col-12">
            set Dimensions for DIVIDER
            <!-- <app-dimensions-setter-widget [dimensions]="selectedElement.dimensions">
                                            </app-dimensions-setter-widget> -->
        </div>
    </div>
</li>
<li class="list-group-item">
    <div class="manager-row row">
        <div class="manager-label col-6">
            <p>Align</p>
        </div>
        <div class="col-6">
            set Align for DIVIDER
            <!-- <app-align-control [selectedElement]="selectedElement"></app-align-control> -->
        </div>

    </div>

</li>