#layout-row-list{
    min-height: 200px;
    background-color:lightblue;
    margin: 40px;   
}
.row-wrapper{
    position: relative;
}
[app-layout-row]{
  display: table;
  width:600px;
  margin:auto;
}
.row-controls{
    position: absolute;
    right: 100px;
    padding:2px;
    top:0px;
    opacity: .1;
    transition: all .5s;
  }
  .row-controls:hover{
    opacity: 1;
  }
  .row-controls div{
    margin-bottom:5px;
    background-color:lightblue;
    color:#000;
    border:solid #000 1px;
    border-radius: 5px;
    transition: all .5s;
    height: 23px;
  }
  .row-controls div:hover{
    background-color:rgba(222, 242, 250, 0.85);
    border:lightblue dashed 1px;
    color: lightblue;
  }
  .move-button:hover{
    cursor: move;
  }
  .delete-button:hover{
    cursor: pointer;
  }

