<div id="layout-row-list" dragula="rows" [(dragulaModel)]="emailTemplate.rows" >

    <div *ngFor="let row of emailTemplate.rows; let i = index" class="row-wrapper">
            <div app-layout-row [row]="row"></div>
            <div class="row-controls">
                    <div class="delete-button"> <i class="material-icons" (click)="deleteRow(i)"> delete </i></div>
                    <div class="move-button"><i class="material-icons"> import_export </i></div>
            </div>
    </div>
    
</div>