.empty-elements{
    background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text x="0%" y="60%" font-size="24" fill="gray">Drop your content here.</text></svg>');
    background-position-x: center;
    
    height:20px;
    padding-top:30px;
}
