<div *ngIf="emailTemplate"
     id="layout-row-list"
     dragula="rows"
     [(dragulaModel)]="emailTemplate.sections"
     [style.background-color]="emailTemplate.backgroundColor.defaultValue">

    <div *ngFor="let row of emailTemplate.sections; let i = index"
         class="row-wrapper "
         [ngClass]="{'selected': selectedRow == row}"
         [appSelector]="row"
         [style.backgroundColor]="row.backgroundColor">
        <div app-layout-row
             [row]="row"></div>
        <div class="row-controls">
            <button class="btn btn-sm btn-secondary btn-block enable-move row-control-move"
                    title="Move this row up or down">
                <i class="fas fa-arrows-alt enable-move"></i>
            </button>
            <button class="btn btn-sm btn-secondary btn-block row-control-delete"
                    title="Delete this row">
                <i class="fas fa-trash-alt"
                   (click)="deleteRow(i)"></i>
            </button>
            <button class="btn btn-sm btn-secondary btn-block row-control-deselect"
                    title="Deselect this row"
                    (click)="deselectRow()">
                <i class="fas fa-object-ungroup"></i>
            </button>
            <button class="btn btn-sm btn-secondary btn-block row-control-copy"
                    title="Duplicate this row"
                    (click)="copyRow(row)">
                <i class="fas fa-copy"></i>
            </button>
        </div>
    </div>
</div>