@import "../../../../styles.theme.scss";

#layout-row-list{
    min-height: 200px;
    margin: 40px;   
}
.row-wrapper{
    position: relative;
}
[app-layout-row]{
  display: table;
  width:600px;
  margin:auto;
}
.row-controls{
    position: absolute;
    right: -36px;
    padding:2px;
    top:0px;
    display: none;
  }
  .row-wrapper:hover .row-controls{
    display: block;
  }
 
  .row-control-move.btn:hover{
    cursor: move;
  }

  .row-wrapper.selected{
    -webkit-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
  }

  .row-wrapper.selected .row-control-deselect{
    display: block;
  }

  .row-control-deselect{
    display: none;
  }


