<div dragula="elements" [(dragulaModel)]="column.elements"[ngClass]="{'empty-elements': column.elements.length == 0}">
    <div class="layout-element" 
    #layoutElement 
    *ngFor="let element of column.elements"
    [style.backgroundColor] = "element.backgroundColor" 
    [ngSwitch]="element && element.constructor && element.constructor.name"
    [appSelector]="element"
    [style.paddingTop]="element.padding.top + 'px'"
    [style.paddingBottom]="element.padding.bottom + 'px'"
    [style.paddingRight]="element.padding.right + 'px'"
    [style.paddingLeft]="element.padding.left + 'px'"
    >
        <div app-layout-element-button class="layout-element-button" *ngSwitchCase="'ButtonElement'" [element] = "element"></div>
        <div app-layout-element-divider class="layout-element-divider" *ngSwitchCase="'DividerElement'"[element] = "element"></div>
        <div app-layout-element-image class="layout-element-image" *ngSwitchCase="'ImageElement'"[element] = "element"></div>
        <div app-layout-element-text class="layout-element-text" *ngSwitchCase="'TextElement'" [element]="element"></div>
        <div app-layout-element-unknown class="layout-element-unknown" *ngSwitchDefault></div>
    </div>
</div>


