<div class="layout-element-width"
     #layoutElement
     *ngFor="let element of column.elements"
     [style.backgroundColor]="element.backgroundColor"
     [ngSwitch]="element.elementType"
     [appSelector]="element"
     [style.justifyContent]="flexAlignment(element.align)"
     [style.paddingTop]="element.padding.top + 'px'"
     [style.paddingBottom]="element.padding.bottom + 'px'"
     [style.paddingRight]="element.padding.right + 'px'"
     [style.paddingLeft]="element.padding.left + 'px'">
     <div app-layout-element-button
          [style.width]="element.widthInPercentage + '%'"
          class="layout-element-button"
          *ngSwitchCase="'button'"
          [element]="element"></div>
     <div app-layout-element-divider
          [style.width]="element.widthInPercentage + '%'"
          class="layout-element-divider"
          *ngSwitchCase="'divider'"
          [element]="element"></div>
     <div app-layout-element-image
          [style.width]="element.widthInPercentage + '%'"
          class="layout-element-image"
          *ngSwitchCase="'image'"
          [element]="element"></div>
     <div app-layout-element-text
          [style.width]="element.widthInPercentage + '%'"
          class="layout-element-text"
          *ngSwitchCase="'text'"
          [element]="element">
     </div>
     <div app-layout-element-unknown
          [style.width]="element.widthInPercentage + '%'"
          class="layout-element-unknown"
          *ngSwitchDefault></div>
</div>