<div class="element-wrapper" [ngSwitch]="elementType">
    <div app-layout-element-button class="layout-element-button" *ngSwitchCase="'ElementTypeButton'"></div>
    <div app-layout-element-divider class="layout-element-divider" *ngSwitchCase="'ElementTypeDivider'"></div>
    <div app-layout-element-image class="layout-element-image" *ngSwitchCase="'ElementTypeImage'"></div>
    <div app-layout-element-text class="layout-element-text" *ngSwitchCase="'ElementTypeText'"></div>
    <div app-layout-element-unknown class="layout-element-unknown" *ngSwitchDefault></div>
</div>
<!---->